
<div class="container" style="padding-top:50px;">
    <div class="row">
        <div class="col-sm-4"> 
            <div class="panel panel-primary">
                <div class="panel-heading">APK LINK</div>
                <div class="panel-body"><a href="https://bit.ly/2dhgwJP" download target="_blank">DOWNLOAD</a></div>
                <div class="panel-footer">GET CHM MOBILE APP</div>
            </div>         
        </div>
        <div class="col-sm-4">
            <p>Download CHM Mobile App with the APK LINK Provided.</p>
        </div>
        <div class="col-sm-4">      
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-sm-4">           
            <p>Get Telrik App Builder from IOS Store and scan the IOS QR code provided here to download CHM Mobile App.</p>
        </div>
        <div class="col-sm-4">
            <div class="panel panel-danger">
                <div class="panel-heading">IOS QR CODE</div>
                <div class="panel-body"><img src="../../../../assets/img/Capture.png" class="img-responsive" style="width:100%" alt="Image"></div>
                <div class="panel-footer">GET CHM MOBILE APP</div>
            </div>  
        </div>
        <div class="col-sm-4">   
                
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-sm-4">           
        </div>
        <div class="col-sm-4">
            <p>Get Telrik App Builder from Google Play Store and scan the Android QR code provided here to download CHM Mobile App.</p>
        </div>
        <div class="col-sm-4">
            <div class="panel panel-success">
                <div class="panel-heading">ANDROID QR CODE</div>
                <div class="panel-body"><img src="../../../../assets/img/Capture.png" class="img-responsive" style="width:100%" alt="Image"></div>
                <div class="panel-footer">GET CHM MOBILE APP</div>
            </div>           
        </div>
    </div>
</div>

