<h4>
    <i class="fa fa-user"></i> Change Password
</h4>

<div class="row">
    <form class="form-horizontal">
        <div class="form-group">
            <div class="col-sm-12">
                <button type="button" class="btn btn-primary pull-right" ng-click="vm.Cancel();">Back</button>
            </div>
            </div>
        <div class="form-group">
            <label for="txtOldPassword" class="col-sm-3 control-label">Old Password <span class="spanColor">*</span></label>
            <div class="col-sm-9">
                <input type="password" class="form-control" id="txtOldPassword" ng-model="vm.OldPassword" ng-readonly="{{Readonly}}" ng-mouseleave="vm.CheckPassword()">
            </div>
        </div>
        <div class="form-group">
            <label for="txtNewPassword" class="col-sm-3 control-label">New Password <span class="spanColor">*</span></label>
            <div class="col-sm-9">
                <input type="password" name="NewPassword" class="form-control" id="txtNewPassword" ng-model="vm.NewPassword" ng-disabled="IsPasswordAvailable">


            </div>
        </div>
        <div class="form-group">
            <label for="txtConfirmPassword" class="col-sm-3 control-label">Confirm Password <span class="spanColor">*</span></label>
            <div class="col-sm-9">
                <input type="password" name="ConfirmPassword" class="form-control" id="txtConfirmPassword" ng-model="vm.ConfirmPassword" ng-disabled="IsPasswordAvailable">
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-12">
               
                    <button type="button" class="btn btn-primary pull-right" ng-click="vm.ChangePassword();">Save </button>
               
                <!--<div class="col-sm-4">
                  
                    <button type="button" class="btn btn-primary pull-left" ng-click="vm.Cancel();">Cancel</button>
                </div>-->
            </div>
        </div>

    </form>
</div>

