
<h4>
    <i class="fa fa-user"></i> New User
</h4>
<div class="row">
    <form class="form-horizontal" name="myform" id="myform">
        <div class="form-group">
            <label for="txtFirstName" class="col-sm-3 control-label">First Name</label>
            <div class="col-sm-9" ng-class="{ 'has-error' : myform.UserName.$error.required && (myform.UserName.$dirty) }">
                <input type="text" name="UserName" ng-required="true" class="form-control" ng-maxlength="30" id="txtFirstName" ng-model="vm.Users.FirstName" placeholder="First Name">
            </div>
        </div>
        <div class="form-group">
            <label for="txtLastName" class="col-sm-3 control-label">Last Name</label>
            <div class="col-sm-9">
                <input type="text" class="form-control" id="txtLastName" ng-model="vm.Users.LastName" placeholder="Last Name">

            </div>
        </div>
        <div class="form-group">
            <label for="txtEmail" class="col-sm-3 control-label">Email</label>
            <div class="col-sm-9">
                <input type="text" class="form-control" id="txtEmail" ng-mouseleave="vm.CheckEmail(vm.Users.Email);" ng-model="vm.Users.Email" placeholder="Email">

            </div>
        </div>
        <div class="form-group">
            <label for="ddlRole" class="col-sm-3 control-label">Role</label>
            <div class="col-sm-9">
                <select id="ddlRole" class="form-control" ng-options="objRoles.ID as objRoles.Name for objRoles in vm.Roles" ng-model="vm.RoleIds">
                    <option value=''>Select</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label for="ddlUsertype" class="col-sm-3 control-label">User Type</label>
            <div class="col-sm-9">
                <select id="ddlUsertype" class="form-control" ng-options="objUserType.ID as objUserType.Name for objUserType in vm.UserTypes" ng-model="vm.Users.UserTypeID">
                    <option value=''>Select</option>
                </select>
            </div>
        </div>

        <div class="form-group">
            <label for="txtDesignation" class="col-sm-3 control-label">Designation</label>
            <div class="col-sm-9" ng-class="{ 'has-error' : myform.UserDesignation.$error.required && (myform.UserDesignation.$dirty) }">
                <input type="text" ng-required="true" name="UserDesignation" class="form-control" id="txtDesignation" ng-model="vm.Users.Designation" placeholder="Designation">

            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">Date of Birth</label>
            <div class="col-sm-9" ng-class="{ 'has-error' : myform.DOB.$error.required && (myform.DOB.$dirty) }">
                <p class="input-group">
                    <input type="text" name="DOB" ng-required="true" class="form-control input-sm" is-date readonly uib-datepicker-popup="{{DateFormat}}" ng-model="vm.Users.DOB" is-open="vm.DOBOpened" datepicker-options="dateOptions" close-text="Close" />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default btn-sm" ng-click="vm.openDOB($event)"><i class="fa fa-calendar"></i></button>
                    </span>
                </p>
            </div>
        </div>
        <div class="form-group">
            <label for="ddlRole" class="col-sm-3 control-label">Organization</label>
            <div class="col-sm-9">
                <oi-select oi-options="objOrganization.ID as objOrganization.Name for objOrganization in vm.userOrganization"
                           ng-model="vm.OrganizationIDs"
                           multiple
                           placeholder="Select"></oi-select>
            </div>
        </div>

        <div class="form-group">
            <label for="txtTelephoneNumber" class="col-sm-3 control-label">Telephone Number</label>
            <div class="col-sm-9" ng-class="{ 'has-error' : myform.telno.$error.required && (myform.telno.$dirty) }">
                <input type="text" name="telno" ng-required="true" class="form-control" id="txtTelephoneNumber" ng-model="vm.Users.TelePhone" placeholder="Telephone Number">
            </div>
        </div>
        <div class="form-group">
            <label for="txtUserName" class="col-sm-3 control-label">User Name</label>
            <div class="col-sm-9" ng-class="{ 'has-error' : myform.userName.$error.required && (myform.userName.$dirty) }">
                <input type="text" name="userName" ng-required="true" ng-mouseleave="vm.CheckUserName(vm.Users.UserName,vm.OrganizationIDs);" class="form-control" id="txtUserName" ng-model="vm.Users.UserName" placeholder="UserName">
            </div>
        </div>
        <div class="form-group">
            <label for="txtPassword" class="col-sm-3 control-label">Password</label>
            <div class="col-sm-9" ng-class="{ 'has-error' : myform.userpwd.$error.required && (myform.userpwd.$dirty) }">
                <input type="password" name="userpwd" ng-required="true" class="form-control" id="txtPassword" ng-model="vm.Users.Password" placeholder="Password">
            </div>
        </div>
        <div class="form-group">
            <label for="ddlResident" class="col-sm-3 control-label">Resident</label>
            <div class="col-sm-9">
                <select id="ddlResident" class="form-control" ng-options="objResidents.ID as objResidents.FirstName for objResidents in  vm.Residents" ng-model="vm.ResidentIDs">
                    <option value=''>Select</option>
                </select>
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-12">
                <div class="col-sm-10"></div>
                <div class="col-sm-2">
                    <button type="button" class="btn btn-primary" ng-disabled="myform.$invalid" ng-click="vm.SaveUser()">Save</button>
                    <button type="button" class="btn btn-danger" ng-click="vm.Cancel()">Cancel</button>
                </div>

            </div>
        </div>
    </form>
</div>